{
    "extends": ["esnext", "esnext/style-guide"],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "semi": 0,
        "comma-dangle": 0,
        "indent": ["error", 4],
        "template-curly-spacing": 0,
        "curly": ["error", "all"],
        "array-bracket-spacing": 0,
        "space-before-function-paren": 0,
        "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }]
    }
}
