.MMM-Modal {
    margin: 0;
}

.MMM-Modal .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.MMM-Modal ul.help {
    margin: 0;
}

.MMM-Modal-blur {
    -webkit-filter: blur(2px) brightness(50%);
    -moz-filter: blur(2px) brightness(50%);
    -o-filter: blur(2px) brightness(50%);
    filter: blur(2px) brightness(50%);
}
